.services {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35vh;
  display: flex;
}

.container,
.container.vcenter.narrow,
.container.vcenter.narrow-2 {
  width: 90vw;
}

.labels-wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  display: none;
}

.label {
  background-color: var(--pale-green);
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  padding: 1vw 2vw;
  display: flex;
}

.label.yellow {
  background-color: var(--green-yellow);
}

.label.white {
  background-color: var(--white-smoke);
}

.label.pink {
  background-color: var(--violet);
}

.label.purple {
  background-color: var(--cornflower-blue);
}

.label.marginbot {
  margin-bottom: 0.5vw;
}

.paragraph {
  font-size: 14px;
}

.tagss-container {
  width: 200vw;
  height: 500px;
  max-width: none;
  transform-origin: 50% 100%;
  margin-top: 0;
  position: relative;
  transform: scale(0.5);
}


.tags-container {
    width: 100vw;
    height: 100vh;
    margin-top: -30vw;
    overflow: hidden;
  }
