@import "./tailwind";
@import "./main";
@import "./matterjs";

.marquee-section .marquee-wrap {
  animation: marquee 20s linear infinite;
  animation-direction: alternate-reverse;
}

.marquee-section-alt .marquee-wrap {
  animation: marquee-alt 20s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-alt {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
